#bookGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.bookGridItem {
    border: 1px solid black;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bookTitle {
    font-weight: bold;
}